
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Unbounded&display=swap');

/* utils */

.center{
    text-align: center;
}

.dp-i{
    display: inline-block;
}

.global-margin{
    margin:10px 0 10px 0;
}



/* components css */


.bonds{
    width:100%; 
    justify-content: center;
    height: 300px;
    background-color: #1d224191;
    border: #728cdf 1px solid;
    border-radius: 8px;
    padding: 10px 13px 6px 13px;
    transform: translateY(-270px);
}

.bonds-lower{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
}