/* *{
    border: red 1px solid;
} */


/* utils */
.center{
    text-align: center;
}

.dp-i{
    display: inline-block;
}

.global-margin{
    margin:10px 0 10px 0;
}



/* components css */

.dashboard{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; */
    margin: 50px 140px 0 140px;
}

.summary-parent{
    background-color: #1d224191;
    border-radius: 8px;
    height: 320px;
    padding: 5px 10px 4px 10px;
}

.summary{
    display: flex  !important;
    width:100%; 
    justify-content: space-between;align-items: center;
}

.top-p{
    border-bottom: 2px solid white;    
}

.table th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.current-epoch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}