/* *{
    border: red 1px solid;
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Unbounded&display=swap');
/* body{
    color: white;
    position: absolute; 
    z-index: 1; 
    box-sizing: border-box;
    background: url(../../../assets/img/background.jpg) repeat !important;
    font-family: 'Nunito', sans-serif;
} */

/* utils */

.center{
    text-align: center;
}

.dp-i{
    display: inline-block;
}

.global-margin{
    margin:10px 0 10px 0;
}



/* components css */


.left-latest-news{
    width:  60%;
    background-color: #1d224100;
    height: 300px;
    border-radius: 8px;
    margin: 0 10px 0 0;
    padding: 5px 10px 4px 5px;
    text-align: center;
}

.investment-strgy{
    text-align: right;
    color: #9ee6ff;
    margin: 4px 3px 4px 3px;
    text-decoration: underline solid #9ee6ff;
    cursor: pointer;
}

.invest-now{
    background-color: #00a6ed;
    border: #e41a1a 0.5px solid;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.discord{
    text-align: center ;
    background-color: rgb(255 255 255 / 33%);
    color: black;
    font-size: 20px;
    padding: 2px 0 2px 0;
    margin-right: 10px;
    width: 47%;
    border: #728cdf 1px solid;
    font-weight: bolder;
}

.docs{
    text-align: center;
    background-color: rgb(255 255 255 / 33%);
    color: black;
    font-size: 20px;
    width: 48%;
    padding: 2px 0 2px 0;   
    margin-left: 10px;
    border: #728cdf 1px solid;
    font-weight: bolder;
}

.board-room{
    border-radius: 8px;
    border: #728cdf 1px solid;
    height: 260px;
    text-align: left;
    padding: 10px 20px 10px 20px;
}

.total-staked{
    text-align:right;
    padding: 7px 5px 7px 5px;
}

.daily-returns{
    margin: 5px 10px 5px 10px;
}

.yourstake{
    margin: 5px 5px 5px 5px;
}

.earned{
    margin: 5px 5px 5px 5px;
}

.boardroom-buttons{
    margin-left: 50px;
}

button{
    background-color: rgba(255, 255, 255, 0);;  
    border: white solid 1px;
    border-radius: 20px;
    color: white;
    padding: 3px 5px 3px 5px;
    margin: 3px 5px 3px 5px;
    cursor: pointer;
}


.latest-news{
    width: 32.5%;
    background-color: #1d224191;
    height: 370px;
    border-radius: 8px;
    border: #728cdf 1px solid;
    margin: 0 0 0 5px;
    padding: 5px 10px 4px 10px;
    transform: translateY(-270px);
}

